// DECLARING THE VARIABLES
$bg-1: #171b27;
$bg-2: #000000;

$font-1: #ffeed8;
$font-2: #b2b2b4;

$highlight-1: #f41f4e;
$highlight-2: #e53dc9;

// SHADOWS
$shadow: 0px 14px 20px 0px rgba($font-2, 0.15);
$shadowHover: 0px 14px 20px 0px rgba($font-2, 0.4);

// SPACING
$sectionPadding: 112px;
$sectionPaddingExtra: $sectionPadding + 80;
$mobilePadding: 40px;

// SHINY ANIMATION DURATIONS
$time-1: 15s;
$time-2: 12s;
$time-3: 9s;
$time-4: 6s;
$time-5: 3s;

// IMPORTING THE FONTS AND ICONS

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;700&family=Raleway:wght@300;400;500&display=swap');

// UTILITIES
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: $font-2;
  background-color: $bg-1;
  line-height: 1.2;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  font-size: 72px;
  font-weight: 500;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  grid-template-areas: a b;
  // grid-row-end: auto;
}

#shiny {
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
  overflow: hidden;

  #lightings {
    position: absolute;
    width: 100%;
  }

  section {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100%;
    position: relative;
    margin: auto;
  }

  #one {
    /*animation*/
    -webkit-animation: one $time-1 ease-in-out infinite alternate;
    -moz-animation: one $time-1 ease-in-out infinite alternate;
    -ms-animation: one $time-1 ease-in-out infinite alternate;
    -o-animation: one $time-1 ease-in-out infinite alternate;
    animation: one $time-1 ease-in-out infinite alternate;
  }
  @-webkit-keyframes one {
    from {
      -webkit-box-shadow: 0 0 250px 20px #473c78;
    }

    to {
      -webkit-box-shadow: 0 0 100px 15px #f72a3b;
    }
  }
  @-moz-keyframes one {
    from {
      -moz-box-shadow: 0 0 250px 20px #473c78;
    }

    to {
      -moz-box-shadow: 0 0 100px 15px #f72a3b;
    }
  }
  @-o-keyframes one {
    from {
      -o-box-shadow: 0 0 250px 20px #473c78;
    }

    to {
      -o-box-shadow: 0 0 100px 15px #f72a3b;
    }
  }
  @keyframes one {
    from {
      box-shadow: 0 0 250px 20px #473c78;
    }

    to {
      box-shadow: 0 0 100px 15px #f72a3b;
    }
  }

  #two {
    width: 90%;
    /*animation*/
    -webkit-animation: two $time-2 ease-in-out infinite alternate;
    -moz-animation: two $time-2 ease-in-out infinite alternate;
    -ms-animation: two $time-2 ease-in-out infinite alternate;
    -o-animation: two $time-2 ease-in-out infinite alternate;
    animation: two $time-2 ease-in-out infinite alternate;
  }
  @-webkit-keyframes two {
    from {
      -webkit-box-shadow: 0 0 250px 20px #18c499;
    }

    to {
      -webkit-box-shadow: 0 0 100px 15px #d8f05e;
    }
  }
  @-moz-keyframes two {
    from {
      -moz-box-shadow: 0 0 250px 20px #18c499;
    }

    to {
      -moz-box-shadow: 0 0 100px 15px #d8f05e;
    }
  }
  @-o-keyframes two {
    from {
      -o-box-shadow: 0 0 250px 20px #18c499;
    }

    to {
      -o-box-shadow: 0 0 100px 15px #d8f05e;
    }
  }

  @keyframes two {
    from {
      box-shadow: 0 0 250px 20px #18c499;
    }

    to {
      box-shadow: 0 0 100px 15px #d8f05e;
    }
  }

  #three {
    width: 80%;
    /*animation*/
    -webkit-animation: three $time-3 ease-in-out infinite alternate;
    -moz-animation: three $time-3 ease-in-out infinite alternate;
    -ms-animation: three $time-3 ease-in-out infinite alternate;
    -o-animation: three $time-3 ease-in-out infinite alternate;
    animation: three $time-3 ease-in-out infinite alternate;
  }
  @-webkit-keyframes three {
    from {
      -webkit-box-shadow: 0 0 250px 20px #ffdd00;
    }

    to {
      -webkit-box-shadow: 0 0 100px 15px #3e33ff;
    }
  }
  @-moz-keyframes three {
    from {
      -moz-box-shadow: 0 0 250px 20px #ffdd00;
    }

    to {
      -moz-box-shadow: 0 0 100px 15px #3e33ff;
    }
  }
  @-o-keyframes three {
    from {
      -o-box-shadow: 0 0 250px 20px #ffdd00;
    }

    to {
      -o-box-shadow: 0 0 100px 15px #3e33ff;
    }
  }

  @keyframes three {
    from {
      box-shadow: 0 0 250px 20px #ffdd00;
    }

    to {
      box-shadow: 0 0 100px 15px #3e33ff;
    }
  }

  #four {
    width: 70%;
    /*animation*/
    -webkit-animation: four $time-4 ease-in-out infinite alternate;
    -moz-animation: four $time-4 ease-in-out infinite alternate;
    -ms-animation: four $time-4 ease-in-out infinite alternate;
    -o-animation: four $time-4 ease-in-out infinite alternate;
    animation: four $time-4 ease-in-out infinite alternate;
  }
  @-webkit-keyframes four {
    from {
      -webkit-box-shadow: 0 0 250px 20px #781848;
    }

    to {
      -webkit-box-shadow: 0 0 100px 15px #f2bbe9;
    }
  }
  @-moz-keyframes four {
    from {
      -moz-box-shadow: 0 0 250px 20px #781848;
    }

    to {
      -moz-box-shadow: 0 0 100px 15px #f2bbe9;
    }
  }
  @-o-keyframes four {
    from {
      -o-box-shadow: 0 0 250px 20px #781848;
    }

    to {
      -o-box-shadow: 0 0 100px 15px #f2bbe9;
    }
  }

  @keyframes four {
    from {
      shadow: 0 0 250px 20px #781848;
    }

    to {
      shadow: 0 0 100px 15px #f2bbe9;
    }
  }

  #five {
    width: 60%;
    /*animation*/
    -webkit-animation: five $time-5 ease-in-out infinite alternate;
    -moz-animation: five $time-5 ease-in-out infinite alternate;
    -ms-animation: five $time-5 ease-in-out infinite alternate;
    -o-animation: five $time-5 ease-in-out infinite alternate;
    animation: five $time-5 ease-in-out infinite alternate;
  }
  @-webkit-keyframes five {
    from {
      -webkit-box-shadow: 0 0 250px 20px #42f2a1;
    }

    to {
      -webkit-box-shadow: 0 0 100px 15px #f4f6ad;
    }
  }
  @-moz-keyframes five {
    from {
      -moz-box-shadow: 0 0 250px 20px #42f2a1;
    }

    to {
      -moz-box-shadow: 0 0 100px 15px #f4f6ad;
    }
  }
  @-o-keyframes five {
    from {
      -o-box-shadow: 0 0 250px 20px #42f2a1;
    }

    to {
      -o-box-shadow: 0 0 100px 15px #f4f6ad;
    }
  }

  @keyframes five {
    from {
      box-shadow: 0 0 250px 20px #42f2a1;
    }

    to {
      box-shadow: 0 0 100px 15px #f4f6ad;
    }
  }
}

// IMPORTING ALL THE SCSS FILES
@import 'navbar';
@import 'menu';
@import 'hero';
@import 'about';
@import 'footer';
